.loading{
    min-height:100svh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.food-detail{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
    min-height: 70svh;
    padding: 10px;
    margin: 10px 0px;
}
.food-detail button{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: var(--bg-secondary);
    font-family: 'iransans';
    color: rgb(0, 0, 0);transition: all  .3s;
    text-align: center;
    cursor: pointer;
    outline: none;
    

}
.food-detail .price {
    font-family: 'tahoma';
    font-size: 20px;
    color: var(--bg-reding);
}
.buttons{
    display: flex;
    max-width: 450px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.buttons button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: black;
    font-size: 18px;
}
.buttons button span{
    font-size: 20px;
}
.buttons button span:nth-child(1)
{
    color: var(--bg-reding);
    
}
.buttons button:hover{
    color: black;
    background-color: var(--bg-reding);
    color: white;
}
.buttons button:hover svg{
    color: white;

}
.remove-button{
    color: white !important;
    background-color: var(--bg-secondary) !important;
}
.remove-button:hover{
    color: black !important;
    background-color: white !important;
    border: 1px solid black;
}
.remove-button svg{
    color: white !important;
}
.remove-button:hover svg{
    color: var(--bg-reding) !important ;
}
.buttons button:active{
    color: white;
}
.add-favorite{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    transition: .3s ;

cursor: pointer;
}

@media only screen and (max-width: 800px) {
   .buttons{
    flex-direction: column;
   }
}