.category{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    margin-top: 20px;
 
}
.category > .category-items{
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 60px ;
    position: relative;
   

}
.category-items > h4{
    position: absolute;
    font-family: 'titr';
    top: 20%;
    left: 50%;
    transform: translateX(-50%) ;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    
}
.category-items:hover h4{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.category-items img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.category .category-items:hover{
    transition: all .5s;

    box-shadow:  13px 0 26px #b3b3b3,
                 -13px -13px 26px #ffffff;
}
.offers{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: var(--bg-main);
    gap: 20px;
    transition: all .4s;

}
.offer-items{
    display: flex;
    transition: all .4s;
    flex-direction: column;
    position: relative; cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 300px;  overflow: hidden;
}
.offer-items h4{
    font-family: 'titr';
    color: var(--bg-primary);
    z-index: 10;
    font-size: 20px;
}
.offer-items > img{
    position: absolute;
    top: 0;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all .4s;

  
}
.offer-items > span{
    position: absolute;
    top: 0;
    z-index: 1;
    right: 5%;
    
    font-size: 20px;
    color: red;
}
.offer-items:hover img{
    scale: 1.5;
   
}
.hamburgers{
    display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 20px;

}
.hamburger-items{
    transition: all .4s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    position: relative;
    gap: 20px;
    padding: 20px;
}
.hamburger-items  button{
    width: 100px;
    border-radius: 20px;
    font-family: 'iransans';
    border: none;
cursor: pointer;
}
.hamburger-items > h5{
    font-size: 20px;
    color: black;
    font-family: 'iransans' ;
    
}
.hamburger-items p{
    font-size: 14px;
    color: #b3b3b3;
}
.hamburger-items > img{
    height: 70%;
    width: 100%;
    object-fit: cover;
}
.hamburger-items span{
    font-family: 'iransans';
    top: 3%;
    right: 5%;
        position: absolute;
        border-radius: 5px;
    width: 100px;
    
    background-color: #4d2c21;
    color: white;
    font-weight: 700;
    padding: 10px 10px;
}
.hamburger-items button:hover{
    border: 1px solid black;
    color: red;
    transition: all  .3s;
}
.hamburger-items:hover{
    border-radius: 33px;
box-shadow:  13px 13px 50px #b3b3b3,
             -13px -13px 50px #ffffff;
}
.delivery{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    background-color: var(--bg-main);
    height: 500px;
    
}
.deliver-content{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.deliver-content h3{
    font-size: 24px;
}
.deliver-content button{
    width: 70%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--bg-secondary);
    font-family: 'iransans';
    color: white;transition: all  .3s;
}
.deliver-content button:hover{
    background-color: var(--bg-primary);
    cursor: pointer;
}