@font-face {
  font-family: 'iransans';
  src: url(./fonts/IRANSansWeb.ttf);
}
@font-face {
  font-family: 'tahoma';
  src: url(fonts/W\ tahoma\ .ttf);
}
@font-face {
  font-family: 'titr';
  src: url(fonts/Sepahbod.otf);
}
:root{
  --bg-primary:#222222;
  --bg-main:#fdfaed;
  --text-main:#22272d;
  --bg-secondary:#ffca3c;
  --bg-reding:#f2002d

}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  direction: rtl;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  font-family: 'iransans','tahoma';
}
.section{
  padding:0 84px;
}
h3{
  font-family: 'titr';
}
